body {
    background-color: #000000;
    min-width: 100%;
}
h1 {
    margin-bottom: 20px;
}
.me-img {
    margin-bottom: 20px;
}
.me-img, .me-img img {
    max-width: 180px;
    width: 100%;
}
.me-img img {
    -moz-box-shadow: 0 0 5px 2px #888;
    -webkit-box-shadow: 0 0 5px 2px #888;
    box-shadow: 0 0 5px 2px #888;
}
.project-img {
    margin-bottom: 20px;
}
.project-img , .project-img img {
    max-width: 300px;
    width: 100%;
}
.project-img > img {
    -moz-box-shadow: 0 0 5px 2px #888;
    -webkit-box-shadow: 0 0 5px 2px #888;
    box-shadow: 0 0 5px 2px #888;
}
.row, .project {
    padding-bottom: 20px;
}
.row.row-no-padding {
    padding-bottom: 0;
}
.row.row-dark {
    background: url(../img/stone_texture.png);
    color: #CCC;
    border-color: #AAA;
}
.row.row-dark small {
    color: #AAA;
}
.row.row-normal {
    background: url(../img/sand_texture.png);
    color: #222;
    border-color: #222;
}
.row.row-light {
    background: url(../img/wood_texture.png);
    color: #222;
    border-color: #222;
}
.row.shadow-caster {
    box-shadow: 0 0 10px 3px #181818;
    position: relative;
}
@media only screen and (min-width : 768px) {
    .opacity-changer {
        opacity: 0.8;
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
    }
}
.opacity-changer:hover {
    opacity: 1;
}
.contact-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-box > a {
    display: block;
}
.contact-box_img {
    background-color: #7A84FF;
    display: block;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    -moz-box-shadow: 0 0 5px 2px #AAA;
    -webkit-box-shadow: 0 0 5px 2px #AAA;
    box-shadow: 0 0 5px 2px #AAA;
}