body {
    background-color: #000000;
    min-width: 100%;
}
h1 {
    margin-bottom: 20px;
}
.me-img {
    margin-bottom: 20px;
}
.me-img, .me-img img {
    max-width: 180px;
    width: 100%;
}
.project-img {
    margin-bottom: 20px;
}
.project-img , .project-img img {
    max-width: 300px;
    width: 100%;
}
.row, .project {
    padding-bottom: 20px;
}
.row.row-no-padding {
    padding-bottom: 0;
}
.row.row-dark {
    background-color: #0E134F;
    color: #AAA;
    border-color: #AAA;
}
.row.row-normal {
    background-color: #7A84FF;
    color: #222;
    border-color: #222;
}
.row.row-light {
    background-color: #FFFFFF;
    color: #222;
    border-color: #222;
}
.row.shadow-caster {
    box-shadow: 0 0 10px 3px #181818;
    position: relative;
}
@media only screen and (min-width : 768px) {
    .opacity-changer {
        opacity: 0.7;
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
    }
}
.opacity-changer:hover {
    opacity: 1;
}
.contact-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-box span {
    display: block;
    margin: 0 auto;
}
.contact-box_img {
    background-color: #7A84FF;
}
.contact-box span, .contact-box_img {
    max-width: 150px;
    width: 100%;
}