---
contact_infos:
    -
        img: twitter.png
        url: https://www.twitter.com/pthormeier
        text: Twitter @pthormeier
    -
        img: github.png
        url: https://www.github.com/thormeier
        text: Github @thormeier
    -
        img: careers.png
        url: http://careers.stackoverflow.com/thormeier
        text: StackOverflow Careers
    -
        img: slideshare.png
        url: http://de.slideshare.net/Thormeier
        text: Slideshare
    -
        img: linkedin.png
        url: https://ch.linkedin.com/in/thormeier
        text: LinkedIn
    -
        img: mail.png
        url: mailto:pascal.thormeier@gmail.com
        text: pascal.thormeier@gmail.com
projects:
    -
        img: hellvetia.jpg
        title: Hellvetia Metal Group
        url: http://www.hellvetia.ch/
        paragraphs:
            - The Hellvetia Metal Group is a swiss association of people that dedicate their work to Heavy Metal Music. Since I love Heavy Metal myself, I decided to join this association as their full stack "IT departement", taking care of the server infrastructure, the development of the website and its design as well as setup of a Wiki, a CI server, and an API, and of all IT related processes.
            - Built on the shoulders of Git, Symfony2, FreeBSD and MySQL, this project is still ongoing because of the growing audience of the online radio and the partnership with other companies. The API itself will be used for an Android App to reach even more fans and friends of "Hellvetia".
            - Because I'm in charge of the whole DEV, this project taught me a lot about system administration and deployment processes.
    -
        img: help_thalwil.jpg
        title: Help Thalwil - Teaching first aid to children
        url: http://www.help-thalwil.ch/
        paragraphs:
            - Help Thalwil is a local voluntary association tha teaches children first aid. Since the old website was from the early 2000s, the association wanted a redesign to streamline internal processes as well as being more modern and attractive to new members. They've been provided with an easy-to-use administration interface to upload new image galleries, manipulate meetings and practices and add or alter team members. A fully-responsive website with touch-capabilities and easily accessible content presents the association in a more modern and dynamic way.
            - The Website itself is built on Kanbasu, a CSS framework done by Liip, and vanilla JS. The lack of a fullblown JS framework taught me a lot about how to effectively use JS for different features, such as parallax scrolling or UI enhancement.
            - The Admin-Page is built with the same tools, although a bit more complex in features and UI.
    -
        img: packagist.jpg
        title: Multiple composer bundles for Symfony2
        url: https://packagist.org/search/?q=thormeier
        paragraphs:
            - Having a focus on Symfony2 applications and being a fan of OpenSource leads to developing packages for stuff others might find useful from time to time. So far I've registered four packages that I worked on on packagist that can be downloaded by anyone.
            - Also my contributions in OpenSource projects are wide spread, from PHPCI, to Sylius, jPlayer and a NewRelic integration and a Handlebars implementation in PHP.
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pascal Thormeier | Web Developer</title>
        <meta name="description" content="Passionate web developer, traveller, student">

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <header class="background--texture-stone header">
            <div class="grid grid--tight">
                <div class="grid__item w-1/1">
                    <h1 class="header--title mrg0">Pascal Thormeier</h1>
                </div>
            </div>
        </header>

        <section class="shadowcaster shadowcaster--dark background--texture-sand xs-pdgv sm-pdgv+ md-pdgv++ lg-pdgv++ pdgh0">
            {% include intro.html %}
        </section>

        <section class="background--texture-wood xs-pdgv sm-pdgv+ md-pdgv++ lg-pdgv++ pdgh0">
            {% include contact.html %}
        </section>

        <section class="shadowcaster shadowcaster--dark background--texture-sand xs-pdgv sm-pdgv+ md-pdgv++ lg-pdgv++ pdgh0">
            {% include work.html %}
        </section>

        <footer class="background--texture-stone header">
            <div class="grid grid--tight">
                <div class="grid__item w-1/1">
                    <h2>About this page</h2>
                    <p>
                        This page was built using Kanbasu and HTML5-Boilerplate and is hosted on GitHub. It also uses Google Analytics to keep track of visits. All images belong to their respective owners, all rights reserved. © 2016 onwards
                    </p>
                </div>
            </div>
        </footer>

        <!-- GA -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-60290116-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>