<div class="grid grid--tight">
    <div class="grid__item w-1/1">
        <h2 class="mrgt0">Passionate web developer, student</h2>

        <div class="media media--responsive">
            <div class="media__left">
                <img src="img/me.jpg" class="media__image img-round shadowcaster shadowcaster--light">
            </div>

            <div class="media__body">
                <p>
                    It all began in the year 2002 when I started to get into coding and software developing. Being
                    only twelve years old, I naturally cared most about games and how they are made, since I've
                    always loved gaming. This led me to a nice little application called the RPG Maker 2000.
                </p>
                <p>
                    It was easy, there was a GUI for the maps and you did not have to care about anything but the
                    design of the game and the story, since dialogs and battles were created pretty
                    straight-forward. But one had the ability to create an own battle system, even complex character
                    menus and much more, only by sticking together simple statements to bigger structures - and this
                    is when the developer in me came to life.
                </p>
                <p>
                    Shortly after experimenting with such "code" and learning the basics of if/else structures and
                    loops by myself, I wanted to create my own website for smaller "scripts" I wrote in the RPG
                    Maker 2000 for others to use. So I started to learn HTML and PHP by the age of thirteen which
                    ultimately led me to the Secondary school for information technology in Zurich, Switzerland that
                    I started by the age of 16.
                </p>
                <p>
                    In 2015 I started my studies for a Bachelor's degree in computer science with indepth knowledge
                    of design and management.
                </p>
                <p>
                    Starting all by myself, years later, I am a well educated developer whose passion lies in high
                    quality software and web development. My goal is good software. Software that is fun to use and
                    fun to maintain.
                </p>
                <p>
                    If you want to know me better, just visit one of my profiles below and have a look at my work.
                    Or write me an eMail.
                </p>
            </div>
        </div>
    </div>
</div>