html {
    background-color: #D6D6FC;
    font-family: Helvetica;
}
body {
    background-color: #F2F2FF;
    width: 680px;
    margin: 0 auto;
    padding: 10px;
    -moz-box-shadow: 0 0 12px #909090;
    -webkit-box-shadow: 0 0 12px #909090;
    box-shadow: 0 0 12px #909090;
}
h1 {
    font-size: 2em;
    margin: 16px 0 8px 0;
    color: #133247;
}
h2 {
    font-size: 1.5em;
    margin: 16px 0 8px 0;
    text-align: center;
    border-bottom: 1px solid #C4C4FF;
    color: #133247;
}
h3 {
    font-size: 1.2em;
    margin: 32px 0 8px 0;
    color: #133247;
}
p {
    margin: 8px 8px 16px 8px;
    line-height: 1.1em;
}
ul {
    margin: 8px 8px 16px 8px;
}
a, a:visited, a:link {
    text-decoration: none;
    color: #3D627C;
}
a:hover {
    color: #638AA5;
}
.sub {
    font-size: 0.8em;
}
.findmeListing {
    margin: 16px 0 0 32px;
}
.findmeListing li {
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    padding: 0 0 8px 12px;
}
.findmeListing .stackoverflow {
    list-style-image: url(../img/stackoverflow.png);
}
.findmeListing .careers {
    list-style-image: url(../img/careers.png);
}
.findmeListing .github {
    list-style-image: url(../img/github.png);
}
.findmeListing .gmail {
    list-style-image: url(../img/gmail.png);
}
.inlineImage {
    float: right;
    border: 1px solid #000000;
    margin: 0 0 8px 8px;
    background-color: #FFFFFF;
}
.footer {
    border-top: 1px solid #C4C4FF;
    color: #9B9BFF;
    font-size: 0.8em;
    margin: 4px 0 0 0;
    padding: 4px 8px 16px;
    text-align: center;
}