$dark-color:               #181818;
$font-size-heading-huge:   2.441em;
$font-size-heading-xlarge: 1.953em;
$font-size-heading-large:  1.563em;
$font-size-heading-medium: 1.25em;
$font-size-heading-small:  1em;
$font-size-heading-xsmall: 0.8em;
$font-size-heading-tiny:   0.6em;
